@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

.material-icons-round {
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: var(--button-color);
    flex-grow: 0;
    transform-origin: center;
}

.material-icons-round--variant{
    color: var(--button-background);
}

/*PRIMARY COLOR*/
.icon--color-primary.material-icons-round{
    color: var(--button-color-primary);
}
.icon--color-primary.material-icons-round--variant{
    color: var(--button-background-primary);
}

/*SECONDARY COLOR*/
.icon--color-secondary.material-icons-round{
    color: var(--button-color-secondary);
}
.icon--color-secondary.material-icons-round--variant{
    color: var(--button-background-secondary);
}

/*DANGER COLOR*/
.icon--color-danger.material-icons-round{
    color: var(--button-color-danger);
}
.icon--color-danger.material-icons-round--variant{
    color: var(--button-background-danger);
}

/*DISABLED*/
.material-icons-round--disabled{
    color: var(--button-disabled-color);
}